<div class="row">
  <div class="col-xs-12">
    <form (ngSubmit)="onSubmit()" #f="ngForm">
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="name">Name</label>
          <input
            type="text"
            id="name"
            name="name"
            [ngModel]="editEnabled ? currentEdited.name : ''"
            required
            #name="ngModel"
            class="form-control">
            <p 
              *ngIf="name.touched && !name.valid" 
              class="text-danger">Ingredient type must not be empty</p>
        </div>
        <div class="col-sm-4 form-group">
          <label for="amount">Amount</label>
          <input
            type="number"
            id="amount"
            name="amount"
            [ngModel]="editEnabled ? currentEdited.amount : ''"
            required
            pattern="^(0.)?[1-9]+[0-9]*$"
            #amount="ngModel"
            class="form-control">
          <p 
            *ngIf="amount.touched && amount.errors && amount.errors['required']" 
            class="text-danger">Ingredient amount must not be empty</p>
          <p 
            *ngIf="amount.touched && amount.errors && amount.errors['pattern']" 
            class="text-danger">Value must be greater than 0</p>
        </div>
        <div class="col-sm-2 form-group">
          <label for="unit">Unit</label>
          <select
            type="text"
            id="unit"
            name="unit"
            [ngModel]="editEnabled ? currentEdited.unit : 'pc'"
            required
            #unit="ngModel"
            class="form-control">
            <option value="kg">kg</option>
            <option value="pc">pc</option>
            <option value="liter">liter</option>
          </select>
          <p 
            *ngIf="!unit.valid && unit.touched" 
            class="text-danger">Unit must not be empty</p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button 
            class="btn btn-success" 
            type="submit"
            [disabled]="!ingredientForm.valid">
              {{ editEnabled ? 'Update' : 'Add' }}
          </button>
          <button 
            class="btn btn-danger" 
            type="button"
            (click)="onDelete()"
            *ngIf="editEnabled">Delete</button>
          <button 
            class="btn btn-primary" 
            type="button" 
            (click)="onClear()">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>
