.container {
  margin-top: 30px;
}

:not(form):not([formGroupName]):not([formArrayName]).ng-touched.ng-invalid {
  border: solid 1px red;
}

.loading {
  animation: load 3s linear infinite;
  border: 2px solid;
}

@keyframes load {
  0%  { 
    border-color: lightgray;
  }
  20% { 
    border-color: lightgray;
    border-bottom-color: #7fb7ff; 
  }
  40% { 
    border-color: lightgray;
    border-left-color: #7fb7ff; 
  }
  60% { 
    border-color: lightgray;
    border-top-color: #7fb7ff; 
  }
  80% { 
    border-color: lightgray;
    border-right-color: #7fb7ff 
  }
  100% {
    border-color: lightgray;
  }
}