<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
        <div formGroupName="userData">
          <div class="form-group">
            <label for="username">Username</label>
            <input
              type="text"
              id="username"
              formControlName="username"
              class="form-control"
              [ngClass]="{loading: signupForm.get('userData.username').status === 'PENDING'}"
              style="display: inline-block">
            <p 
              *ngIf="signupForm.get('userData.username').errors
                && signupForm.get('userData.username').errors['required']
                && signupForm.get('userData.username').touched"
              class="text-danger">This field is required</p>
            <p 
              *ngIf="signupForm.get('userData.username').errors
                && signupForm.get('userData.username').errors['nameIsForbidden']"
              class="text-danger">This name is forbidden</p>
            <p 
              *ngIf="signupForm.get('userData.username').errors
              && signupForm.get('userData.username').errors['nameIsTaken']"
              class="text-danger">This name is taken</p>
          </div>
          <div class="form-group">
            <label for="email">email</label>
            <input
              type="text"
              id="email"
              formControlName="email"
              class="form-control">
              <p 
                *ngIf="!signupForm.get('userData.email').valid 
                  && signupForm.get('userData.email').touched"
                class="text-danger">Please enter valid email</p>
          </div>
        </div>
        <div class="radio" *ngFor="let gender of genders">
          <label>
            <input
              type="radio"
              formControlName="gender"
              [value]="gender">{{ gender }}
          </label>
        </div>
        <div formArrayName="hobbies">
          <h4>Hobbies</h4>
          <button class="btn btn-default form-control" type="button" (click)="onAddHobby()">Add Hobby</button>
          <div class="form-group" *ngFor="let hobbyControl of signupForm.get('hobbies').controls; let i = index">
            <input type="text" class="form-control" [formControlName]="i">
          </div>
        </div>
        <p 
              *ngIf="!signupForm.valid && signupForm.touched"
              class="text-danger">Please fill the form with valid data</p>
        <button class="btn btn-primary" type="submit">Submit</button>
      </form>
    </div>
  </div>
</div>
