<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form (ngSubmit)="onSubmit(f)" #f="ngForm">
        <div id="user-data" 
          ngModelGroup="userData"
          #userData="ngModelGroup">
          <div class="form-group">
            <label for="username">Username</label>
            <input 
              type="text" 
              id="username" 
              class="form-control"
              ngModel
              name="username"
              required>
          </div>
          <button class="btn btn-default" type="button" (click)="suggestUserName()">Suggest an Username</button>
          <div class="form-group">
            <label for="email">Mail</label>
            <input 
              type="email" 
              id="email" 
              ngModel
              class="form-control"
              name="email"
              required
              email
              #email="ngModel">
              <span *ngIf="!email.valid && email.touched" class="help-block">Please enter valid email</span>
          </div>
          <span *ngIf="!userData.valid && userData.touched" class="help-block">User data is not valid</span>
        </div>
        <div class="form-group">
          <label for="secret">Secret Questions</label>
          <select 
            id="secret" 
            class="form-control"
            [ngModel]="'pet'"
            name="secret">
            <option value="pet">Your first Pet?</option>
            <option value="teacher">Your first teacher?</option>
          </select>
        </div>
        <div class="form-group">
          <textarea 
            class="form-control"
            name="secretAnswer" 
            [(ngModel)]="secretAnswer"
            rows="3"></textarea>
        </div>
        <p>Your reply is:</p>
        <p>{{ secretAnswer }}</p>
        <div class="radio" *ngFor="let gender of genders">
          <label>
            <input 
              type="radio"
              name="gender"
              ngModel
              [value]="gender"
              required>
              {{ gender }}
          </label>
        </div>
        <button 
          class="btn btn-primary" 
          type="submit"
          [disabled]="!f.valid">Submit</button>
      </form>
      <hr>
      <div class="row" *ngIf="submitted">
        <div class="col-xs-12">
          <h3>Your Data</h3>
          <p>Username: {{ user.name }}</p>
          <p>Email: {{ user.email }}</p>
          <p>Secret Question: {{ user.secretQuestion }}</p>
          <p>Secret Answer: {{ user.secretAnswer }}</p>
          <p>Gender: {{ user.gender }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
