<div class="row">
  <div class="col-xs-12">
    <h3>Sign Up!</h3>
    <form (ngSubmit)="onSubmit()" [formGroup]="signUpForm">
      <div class="form-group">
        <label for="username">Username: </label>
        <input 
          id="username"
          type="text" 
          class="form-control"
          formControlName="username">
      </div>
      <div class="form-group">
        <label for="email">Email: </label>
        <input 
          id="email"
          type="email" 
          class="form-control"
          formControlName="email">
      </div>
      <div class="form-group">
        <label for="password">Password: </label>
        <input 
          id="password"
          type="password" 
          class="form-control"
          formControlName="password">
      </div>
      <button class="btn btn-success" type="submit" [disabled]="!signUpForm.valid">Submit</button>
    </form>
  </div>
</div>