<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <!--
          Create a Form with the following Controls and Validators
          1) Project Name (should not be empty)
          2) Mail (should not be a empty and a valid email)
          3) Project Status Dropdown, with three values: 'Stable', 'Critical', 'Finished'
          4) Submit Button

          Add your own Validator which doesn't allow "Test" as a Project Name

          Also implement that Validator as an async Validator (replace the other one)

          Upon submitting the form, simply print the value to the console
      -->
      <form (ngSubmit)="onSubmit()" [formGroup]="projectForm">
        <div class="form-group">
          <label for="projectName">Project Name: </label>
          <input 
            type="text"
            id="projectName"
            formControlName="projectName"
            class="form-control"
            [ngClass]="{loading: projectForm.get('projectName').status === 'PENDING'}">
        </div>
        <div class="form-group">
          <label for="contactEmail">Contact Email: </label>
          <input 
            type="email"
            id="contactEmail"
            formControlName="contactEmail"
            class="form-control">
        </div>
        <div class="form-group">
          <label for="status">Project Status: </label>
          <select
            id="status"
            class="form-control"
            formControlName="status">
            <option 
            *ngFor="let option of statusOptions"
            [value]="option" 
            class="form-control">{{ option }}</option>
          </select>
        </div>
        <button [disabled]="!projectForm.valid" type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>
