.container {
  margin-top: 30px;
}

:not(form):not([formGroupName]).ng-touched.ng-invalid {
  border: solid 1px red;
}

.loading {
  border: 2px solid;
  animation: 3s load linear infinite;
}

@keyframes load {
  0% {
    border-color: lightgrey;
  }
  20% {
    border-color: lightgrey;
    border-top-color: #77baff
  }
  40% {
    border-color: lightgrey;
    border-right-color: #77baff
  }
  60% {
    border-color: lightgrey;
    border-bottom-color: #77baff
  }
  80% {
    border-color: lightgrey;
    border-left-color: #77baff
  }
  100% {
    border-color: lightgrey;
  }
}