<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <app-active-users></app-active-users>
      <app-inactive-users></app-inactive-users>
    </div>
    <div class="col-xs-12">
      <p>acitvations: {{ activationsCount }}</p>
      <p>deacitvations: {{ deactivationsCount }}</p>
    </div>
  </div>
  
</div>
