<div class="row">
  <div class="col-xs-12">
    <img src="{{ recipe.imagePath }}" alt="" class="img-responsive recipe-image">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{ recipe.name }}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="btn-group" appDropdown>
      <button
        type="button"
        class="btn btn-primary dropdown-toggle">
        Manage Recipe <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a (click)="addIngredientsToList()">Add Ingredients to Shopping List</a></li>
        <li><a [routerLink]="['edit']">Edit Recipe</a></li>
        <li><a (click)="onRemoveRecipe()">Delete Recipe</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    {{ recipe.description }}
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h3>Ingredients</h3>
    <div *ngFor="let ingredient of recipe.ingredients">
      <strong>{{ ingredient.name }}:</strong> {{ ingredient.amount }} {{ ingredient.unit }}
    </div>
  </div>
</div>
