<div class="row">
  <div class="col-xs-12">
    <a class="btn btn-success" [routerLink]="['new']">New Recipe</a>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-12">
    <app-recipe-item *ngFor="let recipeElement of recipes; index as i" [recipe]="recipeElement" [id]="i"></app-recipe-item>
  </div>
</div>
