<div class="row">
    <div class="col-xs-12">
      <h3>Sign In</h3>
      <form (ngSubmit)="onSubmit()" [formGroup]="signInForm">
        <div class="form-group col-sm-6">
          <label for="email">Email: </label>
          <input 
            id="email"
            type="email" 
            class="form-control"
            formControlName="email">
        </div>
        <div class="form-group col-sm-6">
          <label for="password">Password: </label>
          <input 
            id="password"
            type="password" 
            class="form-control"
            formControlName="password">
        </div>
        <div class="col-xs-12">
          <button class="btn btn-success" type="submit" [disabled]="!signInForm.valid">SignIn</button>
        </div>
      </form>
    </div>
  </div>