<div class="row">
  <div class="col-xs-10">
    <app-shopping-list-edit></app-shopping-list-edit>
    <hr>
    <ul class="list-group">
      <li
        *ngFor="let ingredient of ingredients; let i = index"
        class="list-group-item"
        [ngClass]="{active: chosenItem === i}"
        (click)="onItemClicked(i)">
        {{ ingredient.name }}: {{ ingredient.amount.toFixed(2) }} {{ ingredient.unit }}
      </li>
    </ul>
  </div>
</div>
