<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a routerLink="/" class="navbar-brand">Recipe Book</a>

      <button type="button" class="navbar-toggle collapsed"
        data-toggle="collapse" data-target="#navbar1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
      </button>
    </div>

    <div id="navbar1" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active"><a [routerLink]="['/recipes']">Recipes</a></li>
        <li routerLinkActive="active"><a [routerLink]="['/shopping-list']">Shopping List</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <ng-template [ngIf]="!isAuthenticated">
          <li><a [routerLink]="['/signin']">SignIn</a></li>
          <li><a [routerLink]="['/signup']">SignUp</a></li>
        </ng-template>
        <ng-template [ngIf]="isAuthenticated">
          <li><a (click)="onSignOut()">SignOut</a></li>
          <li class="dropdown" appDropdown>
            <a class="dropdown-toggle">Manage <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a (click)="onUploadData()">Save Data</a></li>
              <li><a (click)="onFetchData()">Fetch Data</a></li>
            </ul>
          </li>
        </ng-template>
      </ul>
    </div>
  </div>
</nav>
