<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form (ngSubmit)="onSubmit(f)" #f="ngForm">
        <div class="form-group">
            <label for="email">Email: </label>
            <input 
              class="form-control"
              type="email"
              id="email"
              name="email"
              #mail="ngModel"
              required
              email
              ngModel>
              <p *ngIf="mail.touched && !mail.valid" class="help-block">Email address is invalid</p>
        </div>
        <div class="form-group">
            <label for="subType">Subscription type: </label>
            <select 
              class="form-control"
              id="subType"
              name="subType"
              [ngModel]="'Advanced'">
              <option value="Basic">Basic</option>
              <option value="Advanced">Advanced</option>
              <option value="Pro">Professional</option>
            </select>
        </div>
        <div class="form-group">
            <label for="password">Password: </label>
            <input 
              class="form-control"
              type="password"
              id="password"
              name="password"
              required
              ngModel
              #password="ngModel">
              <p *ngIf="password.touched && !password.valid" class="help-block">Password is invalid</p>
        </div>
        <p *ngIf="f.touched && !f.valid" class="help-block">Form is not valid</p>
        <button class="btn btn-primary" type="submit">Submit</button>
      </form>
    </div>
  </div>
</div>
