.ng-form-group hr {
    border-color: #cccccc;
    width: 95%;
    margin-top: 5px;
    margin-bottom: 10px;
}

.ingredient-list {
    margin-top: 20px;
}

.ingredient-list .ingredient-item {
    position: relative;
}

.ingredient-list .ingredient-item i.fas {
    position: absolute;
    top: 45%;
    right: 7%;
}

.preview-image {
    max-width: 100%;
}