<h3>New recipe</h3>

<form [formGroup]="newRecipeForm" (ngSubmit)="onSubmit()" >
  <div class="row">
    <div class="col-sm-12 form-group">
      <label for="name">Name</label>
      <input
        type="text"
        id="name"
        class="form-control"
        formControlName="name">
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 form-group">
      <label for="description">Description</label>
      <textarea
        id="description"
        rows="5"
        class="form-control"
        formControlName="description"></textarea>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8 form-group">
      <label for="imgPath">Image path</label>
      <input
        type="text"
        id="imgPath"
        class="form-control"
        formControlName="imagePath">
    </div>
    <div class="col-sm-4">
      <img class="preview-image" src="{{ newRecipeForm.get('imagePath').value }}" alt="">
    </div>
  </div>
  <hr>
  <div formArrayName="ingredients" class="well well-sm">
    <h4>Ingredients: </h4>
    <button class="btn btn-primary" (click)="onAddIngredient()" type="button">Add ingredient</button>
    <div class="ingredient-list">
      <div class="row ng-form-group ingredient-item"
        *ngFor="let ingredientControl of ingredients.controls; let i = index"
        [formGroupName]="i">
        <hr *ngIf="i > 0">
        <div class="col-sm-5 form-group">
          <label for="ingredientName">Name: </label>
          <input
            type="text"
            id="ingredientName"
            class="form-control"
            formControlName="name">
        </div>
        <div class="col-sm-3 form-group">
          <label for="amount">Amount: </label>
          <input
            type="number"
            id="amount"
            class="form-control"
            formControlName="amount">
        </div>
        <div class="col-sm-3 form-group">
          <label for="unit">Unit: </label>
          <select
              id="unit"
              class="form-control"
              formControlName="unit">
              <option value="kg">kg</option>
              <option value="pc">pc</option>
              <option value="liter">liter</option>
            </select>
        </div>
        <i class="fas fa-times" (click)="onRemoveIngredient(i)"></i>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <button 
        class="btn btn-success" 
        type="submit"
        [disabled]="!newRecipeForm.valid">Add</button>
      <button 
        class="btn btn-primary" 
        type="button"
        (click)="onClear()">Clear</button>
    </div>
  </div>
</form>
