<h3>Edit recipe</h3>

<form (ngSubmit)="onSubmit()" [formGroup]="editRecipeForm">
  <div class="row">
    <div class="col-sm-12 form-group">
      <label for="name">Name</label>
      <input
        type="text"
        id="name"
        class="form-control"
        formControlName="name">
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 form-group">
      <label for="description">Description</label>
      <textarea
        rows="5"
        id="description"
        class="form-control"
        formControlName="description">
      </textarea>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8 form-group">
      <label for="imgPath">Image path</label>
      <input
        type="text"
        id="imgPath"
        class="form-control"
        formControlName="imagePath">
    </div>
    <div class="col-sm-4">
        <img class="preview-image" src="{{ editRecipeForm.get('imagePath').value }}" alt="">
      </div>
  </div>
  <hr>
  <div class="well well-sm" formArrayName="ingredients">
    <h4>Ingredients: </h4>
    <button class="btn btn-primary" (click)="onAddIngredient()" type="button">Add ingredient</button>
    <div class="ingredient-list">
      <div 
        class="row ng-form-group ingredient-item"
        *ngFor="let ingredient of ingredients.controls; let i = index"
        [formGroupName]="i">
        <hr *ngIf="i > 0">
        <div class="form-group col-xs-5">
          <label for="ingredientName">Name: </label>
          <input 
            type="text"
            id="ingredientName"
            class="form-control"
            formControlName="name">
        </div>
        <div class="form-group col-xs-3">
          <label for="amount">Amount: </label>
          <input 
            type="number"
            id="amount"
            class="form-control"
            formControlName="amount">
        </div>
        <div class="form-group col-xs-3">
          <label for="unit">Unit: </label>
          <select 
            id="unit"
            class="form-control"
            formControlName="unit">
            <option value="kg">kg</option>
            <option value="pc">pc</option>
            <option value="liter">liter</option>
          </select>
        </div>
        <i class="fas fa-times" (click)="onRemoveIngredient(i)"></i>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <button 
        class="btn btn-success"
        type="submit">Save changes</button>
      <button 
        class="btn btn-danger"
        type="button"
        (click)="onCancel()">Cancel</button>
    </div>
  </div>
</form>
