<a routerLinkActive="active" [routerLink]="['/recipes', id]" class="list-group-item clearfix">
  
  <div class="row">
    <div class="pull-left col-sm-8">
      <h4 class="list-group-item-heading">
        {{recipe.name}}
      </h4>
      <p class="list-group-item-text">
        {{ recipe.description | slice:0:70 }}
      </p>
    </div>
    <div class="col-sm-4">
      <img src="{{recipe.imagePath}}" alt="" class="pull-right img-responsive img-small">
    </div>
  </div>
</a>
